name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  asdf_plugin_test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: asdf-vm/actions/plugin-test@v2
        with:
          command: v --help
          github_token: ${{ github.token }}
  bats:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: asdf-vm/actions/install@v2
      - run: bats test
        env:
          GITHUB_API_TOKEN: ${{ github.token }}
